:root {
  /* Primary */
  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */
  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  ---white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 14px;
  background-color: var(--cream);
  min-height: 100vh;
  font-family: 'Montserrat', sans-serif;
  color: var(--dark-grayish-blue);
  font-weight: 500;
}

main {
  height: 98vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  overflow: hidden;
  display: flex;
  width: 600px;
  height: 450px;
  background-color: var(---white);
  border-radius: 14px;
}

.main-img, .content {
  flex: 50%;
}

.main-img img {
  width: 100%;
}

.content {
  padding: 32px;
}

.subtitle {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 14px;
  margin-bottom: 20px;
}

.title {
  font-family: 'Fraunces', serif;
  font-size: 32px;
  line-height: 100%;
  color: var(--very-dark-blue);
  margin-bottom: 26px;
}

.description {
  line-height: 160%;
  margin-bottom: 26px;
}

.price {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  gap: 20px;
}

.current-price {
  font-family: 'Fraunces', serif;
  font-weight: 700;
  font-size: 32px;
  color: var(--dark-cyan);
}

.former-price {
  text-decoration-line: line-through;
}

button {
  background-color: var(--dark-cyan);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 48px;
  font-weight: 700;
  border-radius: 8px;
  color: var(---white);
  transition: all .3s;
}

button:hover {
  background-color: #1A4031;
}

.icon {
  background: url("../images/icon-cart.svg");
  width: 15px;
  height: 16px;
}

footer {
  font-size: 12px;
  text-align: center;
}


@media (max-width: 570px) {

  main {
    height: 100vh;
  }

  .container {
    width: 343px;
    flex-direction: column;
    height: fit-content;
  }

  .main-img {
    background-image: url("../images/image-product-mobile.jpg");
    height: 245px;
    width: 100%;
  }

  .content {
    padding: 25px;
  }
}